<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAADMiniProject">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.floor.FloorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.floor.FirstFloorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.floor.GroundFloorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.LivingRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.KitchenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.BathroomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.StaircaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.DiningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.GarageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.WorkRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.MasterBedroomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.room.Bedroom2Activity"
            android:exported="false" />
    </application>

</manifest>